@import "/styles/mixins";

.works {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  height: 100%;
  margin: 2rem 11rem;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) repeat(
      2,
      minmax(30rem, 1fr)
    );
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-row-gap: 2rem;
  align-items: center;

  @media screen and (max-width: $tablet) {
    margin: 2rem 4.4rem;
  }

  @media screen and (max-width: $phoneWide) {
    margin: 2rem 0rem;
  }

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    @include heading2("03.");
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__div_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  &__div_end {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}

.work {
  grid-row: 6 / 7;
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  align-items: center;

  &__img {
    position: relative;
    z-index: 1;
    grid-column: 1 / 8;
    grid-area: 1 / 1 / -1 / 7;

    &:hover,
    &:focus {
      background-color: transparent;
      filter: none;
    }
  }

  img {
    @include image(100%);
  }

  &__content {
    position: relative;
    z-index: 2;
    grid-column: 7 / -1;
    text-align: right;
    grid-area: 1 / 6 / -1 / -1;

    h4 {
      margin: 1rem 0;
      @include heading4;
    }

    h3 {
      margin: 0 0 2rem;
      @include heading3;
    }

    p {
      text-align: right;
      letter-spacing: 0.2rem;
      line-height: 2.5rem;
      padding: 2rem 3rem;
      background-color: var(--color-light-navy);
      box-shadow: var(--box-shadow);
      border-radius: 1rem;

      @include paragraph;
    }

    ul {
      margin: 2.5rem 0 1rem;

      display: flex;
      justify-content: flex-end;
      list-style: none;

      li {
        font-family: var(--font-ubuntu);
        font-weight: 300;
        color: var(--color-lightest-slate);
        font-size: 2rem;

        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }

    div {
      margin: 2.5rem 0 1rem;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        transition: var(--transition);
        cursor: pointer;

        &:hover {
          color: var(--color-green);
        }

        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
  }
}
