@import "/styles/mixins";

.works {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  margin: 2rem 11rem;

  display: grid;
  grid-template-columns:
    minmax(min-content, max-content) repeat(2, minmax(30rem, 1fr))
    6rem;
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-row-gap: 2rem;
  align-items: center;

  @media screen and (max-width: $tablet) {
    margin: 2rem 4.4rem;
  }

  @media screen and (max-width: $phoneWide) {
    margin: 2rem 0rem;
  }

  @media screen and (max-width: $phone) {
    grid-row: 4 / 5;
    grid-column: center-start / center-end;
    margin: 8rem 0rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-row-gap: 4rem;

    span {
      display: none;
    }
  }

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 8rem;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / -1;

    @include heading2("03.");

    @media screen and (max-width: $phone) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      padding-top: 8rem;
    }
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__div_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  &__div_end {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}

.work {
  grid-row: 6 / 7;
  grid-column: 2 / span 2;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  transition: var(--transition);

  @media screen and (max-width: $phoneWide) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4rem 8rem rgba(#000, 0.1);
    }
  }

  @media screen and (max-width: $phone) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px dashed var(--color-green);
    border-radius: 1rem;
  }
}

.image {
  grid-column: 1 / 5;
  grid-row: 1 / -1;

  position: relative;
  z-index: 1;

  span {
    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-green);
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem -1rem var(--color-navy);
    }

    img {
      filter: opacity(0.8);
      @include image;

      @media screen and (max-width: $phone) {
        border-radius: 1rem 1rem 0 0;
      }
    }
  }

  @media screen and (max-width: $phoneWide) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    span {
      &::before {
        display: none;
      }

      img {
        filter: opacity(0.3);
      }
    }
  }
}

.content {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  text-align: right;

  @media screen and (max-width: $phoneWide) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    text-align: left;
    padding: 1.5rem 2rem;
    padding-top: 4.5rem;

    position: relative;
    z-index: 100;
  }

  @media screen and (max-width: $phone) {
    padding: 0;
  }

  h4 {
    margin: 1rem 0;

    @include heading4;

    @media screen and (max-width: $phoneWide) {
      margin: 1.5rem 2rem;
      font-size: 2.2rem;
    }

    @media screen and (max-width: $phone) {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
  }

  h3 {
    margin: 0 0 2rem;
    position: relative;
    z-index: 10;

    @include heading3;

    @media screen and (max-width: $phoneWide) {
      margin: 0 2rem;
      font-size: 3.2rem;
    }

    @media screen and (max-width: $phone) {
      font-size: 2.2rem;
      margin: 0 2rem;
    }
  }

  p {
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    padding: 2rem 3rem;
    background-color: var(--color-light-navy);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 10;

    @include paragraph;

    @media screen and (max-width: $phoneWide) {
      background-color: transparent;
      font-size: 1.8rem;
    }

    @media screen and (max-width: $phone) {
      background-color: transparent;
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
  }

  ul {
    margin: 2.5rem 0 1rem;
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: flex-end;
    list-style: none;

    @media screen and (max-width: $phoneWide) {
      margin: 2rem;
    }

    @media screen and (max-width: $phone) {
      display: none;
    }

    li {
      font-family: var(--font-ubuntu);
      font-weight: 300;
      color: var(--color-lightest-slate);
      font-size: 2rem;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      @media screen and (max-width: $phoneWide) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: $phone) {
        font-size: 1.5rem;
      }
    }
  }
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-green);
    transform: none;
  }
}

.icons {
  margin: 2.5rem 0 1rem;
  display: flex;
  justify-content: flex-end;

  div {
    padding-left: 3rem;
  }

  svg {
    cursor: pointer;
    transition: var(--transition);

    &:hover,
    &:focus {
      color: var(--color-green);
    }
  }

  @media screen and (max-width: $phoneWide) {
    margin: 3rem 2rem;
    text-align: right;
  }

  @media screen and (max-width: $phone) {
    margin: 0 2rem;
    padding: 1rem 0;
  }
}
