@import "/styles/mixins";

.navigation {
  grid-column: sidebarL-start / sidebarL-end;
  grid-row: 1 / -1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: var(--color-green);
    transition: none;
    transform: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 15rem;

  @include navSvg;
}

.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 8rem;

  a {
    color: var(--color-slate);
    padding-top: 2rem;
    transition: var(--transition);

    &:hover,
    &:focus {
      color: var(--color-green);
      transform: translateY(-3px);
    }
  }
}
