@import "/styles/mixins";

.navigation {
  grid-column: sidebarL-start / sidebarL-end;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &::after {
    margin: 0 auto;
    content: "";
    display: inline;
    width: 1px;
    height: 9rem;
    background-color: var(--color-slate);
  }

  @media screen and (max-width: $phoneWide) {
    display: none;
  }
}

.list {
  list-style: none;

  li {
    margin-bottom: 2.5rem;
    position: relative;

    // a {
    //   overflow: hidden;

    //   &::before {
    //     content: "hello";
    //     font-size: 1.2rem;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     visibility: hidden;
    //     transition: transform 0.55s;
    //   }

    //   &:hover::before {
    //     transform: translateY(-20px);
    //     visibility: visible;
    //   }
    // }
  }
  @include navSvg;
}

.sns {
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  a {
    color: var(--color-slate);
    margin-top: 1.5rem;
    transition: var(--transition);

    &:hover {
      color: var(--color-green);
      transform: translateY(-3px);
    }
  }
}
