@import "/styles/mixins";

.hero {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(5, minmax(min-content, max-content)) 1fr;

  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  @media screen and (max-width: $phone) {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, min-content) 1fr;

    span {
      display: none;
    }
  }

  button {
    grid-column: 3 / 4;
    grid-row: 7 / 9;
    margin-top: 2rem;
    align-self: center;
    justify-self: start;

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }
  }

  i {
    font-style: normal;
    color: var(--color-green);
  }

  &__html_start {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__body_start {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__hero_start {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &__h1_start {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: center;
  }

  &__h1_end {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    align-self: flex-end;
  }

  h1 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;

    @include heading1;

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      font-size: 4.5rem;
    }
  }

  p {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    font-size: 3rem;
    font-family: var(--font-caveat);
    font-weight: 400;
    color: var(--color-light-slate);
    margin-top: 1rem;

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      font-size: 2.6rem;
      margin-bottom: 3rem;
    }
  }

  &__btn_start {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
  }

  &__btn_end {
    grid-column: 3 / 4;
    grid-row: 9 / 10;
  }

  &__hero_end {
    grid-column: 2 / 3;
    grid-row: 10 / 11;
  }

  @media screen and (max-width: $desktop) {
    .s1 {
      display: none;
    }
    .s2 {
      display: none;
    }
  }
}

.s1 {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
  align-self: end;
  justify-self: end;
  margin-right: 8rem;
  position: relative;
  z-index: 10;
  overflow: hidden;

  font-size: 50rem;
  font-family: var(--font-ubuntu);
  font-weight: 700;
  transform: rotate(-30deg);
  color: var(--color-green);
  box-shadow: var(--box-shadow);
  -webkit-text-stroke: 1px rgba(10, 25, 47, 0.3);
}

.s2 {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
  align-self: end;
  justify-self: end;
  margin-right: 7.1rem;
  margin-bottom: -5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  font-size: 50rem;
  font-family: var(--font-ubuntu);
  font-weight: 700;
  transform: rotate(-30deg);
  color: var(--color-slate);
  box-shadow: var(--box-shadow);
}

.btn {
  @include btnDesign;

  @media screen and (max-width: $phone) {
    font-size: 1.5rem;
    padding: 1.6rem 2rem;
  }
}
