@import "/styles/mixins";

.skills {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  margin: 8rem 11rem;

  display: grid;
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-template-columns:
    minmax(min-content, max-content) repeat(2, 1fr)
    6rem;
  grid-row-gap: 2rem;
  align-items: center;

  @media screen and (max-width: $tablet) {
    margin: 8rem 4.4rem;
  }

  @media screen and (max-width: $phoneWide) {
    margin: 8rem 0rem;
  }

  @media screen and (max-width: $phone) {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    margin: 8rem 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;

    span {
      display: none;
    }
  }

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 8rem;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / span 3;

    @include heading2("02.");

    @media screen and (max-width: $tablet) {
      grid-column: 2 / span 2;
    }

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      padding-top: 8rem;
    }
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__div_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  ul {
    list-style: none;
    grid-column: 2 / span 2;
    grid-row: 6 / 7;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 15.6rem 10rem;
    margin: 10rem 0;

    @media screen and (max-width: $tablet) {
      grid-column: 2 / span 2;
    }

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 2 /3;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, min-content);
      grid-gap: 5rem 10rem;
      margin: 5rem;
    }
  }

  &__div_end {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 9 / 10;
    grid-column: 1 / 2;
  }
}

.show_components {
  grid-row: 7 / 8;
  grid-column: 2 / span 2;

  @include btnDesign;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border: 2px solid var(--color-green);
  text-transform: uppercase;

  justify-self: center;

  @media screen and (max-width: $phone) {
    grid-column: 1 / -1;
    grid-row: 3 /4;
  }
}
