@import "/styles/mixins";

.header {
  display: none;

  @media screen and (max-width: $phoneWide) {
    display: flex;
    align-items: center;
    top: 0;
    height: 6rem;
    width: 100%;
    z-index: 100;
    background-color: var(--color-navy);
    filter: opacity(0.95);

    a {
      color: var(--color-green);

      &:hover,
      &:focus {
        transform: none;
      }
    }

    h1 {
      margin-left: 2rem;
    }
  }
}

.nav {
  display: none;

  @media screen and (max-width: $phoneWide) {
    display: flex;
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }
  }
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.hamburger {
  @media screen and (max-width: $phoneWide) {
    display: none;
  }

  @media screen and (max-width: $phone) {
    display: block;
    margin: 0 1.5rem;
    position: relative;

    button {
      transform: translateY(3px);
      padding: 0.8rem;
      width: 100%;
      height: 100%;
      position: relative;
      background: var(--color-green-light);
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      border: none;
      font-size: 15px;
      outline: none;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      cursor: pointer;
    }

    .btn > button {
      letter-spacing: 0;
    }

    .btn span {
      letter-spacing: 0;
      display: inline-block;
      color: var(--color-green);
      position: relative;
      width: 12px !important;
      transition: all 0.5s ease-in-out;
    }

    .btn span:nth-of-type(1) {
      width: 5px;
    }

    .btn span:nth-of-type(2) {
      width: 1px;
    }

    .btn span:nth-of-type(3) {
      width: 3px;
    }

    .btn span:nth-of-type(4) {
      width: 4px;
    }

    .btn:hover span:nth-of-type(1) {
      animation: m 0.5s;
    }

    .btn:hover span:nth-of-type(2) {
      animation: e 0.5s;
    }

    .btn:hover span:nth-of-type(3) {
      animation: n 0.5s;
    }

    .btn:hover span:nth-of-type(4) {
      animation: u 0.5s;
    }

    @keyframes m {
      0% {
        transform: translate(0, 0);
      }
      20% {
        transform: translate(-10px, -2px);
      }
      80% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes e {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(-4px, 0);
      }
      50% {
        transform: translate(3px, 4px);
      }
      80% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes n {
      0% {
        transform: translate(0, 0);
      }
      20% {
        transform: rotate(360deg);
      }
      50% {
        transform: scale(2);
      }
      80% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes u {
      0% {
        transform: translate(0, 0);
      }
      20% {
        transform: translate(-10px, -2px);
      }
      80% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
  }
}
