@import "/styles/mixins";

.header {
  display: none;

  @media screen and (max-width: $phoneWide) {
    display: flex;
    align-items: center;
    top: 0;
    height: 8rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--color-navy);
    filter: opacity(0.95);

    a {
      color: var(--color-green);

      &:hover,
      &:focus {
        transform: none;
      }
    }
  }
}

.nav {
  display: none;

  @media screen and (max-width: $phoneWide) {
    display: flex;
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }
  }
}
