@import "/styles/mixins";

.footer {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  margin: 4rem 4.4rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-gap: 2rem;

  @media screen and (max-width: $phone) {
    grid-row: 6 / 7;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-gap: 0;

    span {
      display: none;
    }
  }

  &__footer_start {
    grid-row: 1 / 2;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;

    p {
      @include paragraph;
      letter-spacing: 3px;
    }

    a {
      &:hover,
      &:focus {
        color: var(--color-green);
      }
    }
  }

  &__footer_end {
    grid-row: 3 / 4;
  }

  &__body_end {
    grid-row: 4 / 5;
    margin-left: -5rem;
  }

  &__html_end {
    grid-row: 5 / 6;
    margin-left: -5rem;
  }
}
