@import "/styles/mixins";

.contact {
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  margin: 8rem 11rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);

  @media screen and (max-width: $phoneWide) {
    margin: 8rem 4.4rem;
  }

  @media screen and (max-width: $phone) {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;
    margin: 12rem 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;

    span {
      display: none;
    }
  }

  &__section_start {
    grid-row: 1 / 2;
    margin-top: 6rem;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    margin: 8rem auto;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    min-width: 30rem;

    .btn {
      @include btnDesign;
    }

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;

      button {
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }

    h2 {
      @include heading2("04.");
      margin-bottom: 6rem;
    }
  }

  &__section_end {
    grid-row: 3 / -1;
    align-self: flex-end;
  }
}
