@import "/styles/mixins";

.contact {
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  margin: 8rem 11rem;

  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr 1fr 6rem;
  grid-template-rows: repeat(8, min-content);
  grid-row-gap: 2rem;

  @media screen and (max-width: $tablet) {
    margin: 2rem 4.4rem;
  }

  @media screen and (max-width: $phoneWide) {
    margin: 2rem 0;
  }

  @media screen and (max-width: $phone) {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-row-gap: 2rem;
    margin: 8rem 0;

    span {
      display: none;
    }
  }

  &__section_start {
    grid-row: 1 / 2;
    margin-top: 8rem;
  }

  &__h2_start {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__h2_end {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  &__form_start {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  &__form_end {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  &__section_end {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  h2 {
    grid-column: 2 / span 3;
    grid-row: 3 / 4;
    @include heading2("04.");

    @media screen and (max-width: $phone) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      // margin: 0 auto;
    }
  }
}

.form {
  grid-column: 3 / span 2;
  grid-row: 6 / 7;

  margin: 2rem;
  border-radius: 6px;
  max-width: 100rem;
  padding: 2rem;
  font-size: 2rem;

  & label {
    display: block;
    font-family: var(--font-ubuntu);
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-lightest-slate);
    margin: 3rem 0 3rem 0;

    @media screen and (max-width: $phone) {
      font-size: 2rem;
    }
  }

  & input,
  & textarea {
    font: inherit;
    padding: 2rem;
    border-radius: 4px;
    width: 100%;
    border: 1px solid var(--color-lightest-slate);
    background-color: var(--color-white);
    resize: none;

    @media screen and (max-width: $phone) {
      padding: 1rem;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: $desktop) {
    margin: 2rem 0;
    padding: 2rem 0;
  }

  @media screen and (max-width: $tablet) {
    grid-column: 2 / span 3;
    grid-row: 6 / 7;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: $phone) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    // margin: 0 auto;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // row-gap: 3rem;

  // @media screen and (max-width: $phone) {
  //   grid-row: 2 / 3;
  //   grid-column: 1 / -1;

  //   a {
  //     margin: 0 auto;
  //   }
  // }
}

.controls {
  display: flex;
  column-gap: 5rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.btn {
  @include btnDesign;
}
