$desktop: 1240px;
$tablet: 1024px;
$phoneWide: 896px;
$phone: 480px;

@mixin image {
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);

  &:hover,
  &:focus {
    filter: opacity(1);
  }
}

@mixin heading1 {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  color: var(--color-lightest-slate);
  font-size: 6rem;
}

@mixin heading2($number) {
  font-family: var(--font-ubuntu);
  font-weight: 500;
  color: var(--color-lightest-slate);
  font-size: 4.5rem;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  grid-column-gap: 1.5rem;
  align-items: flex-end;

  @media screen and (max-width: $phone) {
    font-size: 8vw;
    grid-column-gap: 1rem;
  }

  &::before {
    content: $number;
    display: block;
    font-family: var(--font-ubuntu);
    font-weight: 400;
    color: var(--color-green);
    font-size: 2.5rem;
    padding-bottom: 4px;

    @media screen and (max-width: $phone) {
      font-size: 5vw;
    }
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    max-width: 30rem;
    background-color: var(--color-slate);
    align-self: center;

    @media screen and (max-width: $phone) {
      max-width: 8rem;
    }
  }
}

@mixin heading3 {
  font-family: var(--font-ubuntu);
  font-weight: 500;
  color: var(--color-lightest-slate);
  font-size: 3.4rem;
  letter-spacing: 2px;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--color-green);
  }
}

@mixin heading4 {
  font-family: var(--font-ubuntu);
  font-weight: 300;
  color: var(--color-green);
  font-size: 2.4rem;
  letter-spacing: 2px;
}

@mixin paragraph {
  font-family: var(--font-ubuntu);
  font-weight: 300;
  color: var(--color-lightest-slate);
  font-size: 1.6rem;

  @media screen and (max-width: $phone) {
    font-size: 4vw;
  }
}

@mixin btnDesign {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 3px;
  border: 3px solid var(--color-green);
  border-radius: 1rem;
  color: var(--color-green);
  padding: 1.6rem 2.8rem;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: var(--transition);

  &:hover,
  &:link {
    background-color: var(--color-green-light);
  }

  &:active {
    transform: translateY(3px);
  }

  @media screen and (max-width: $phone) {
    padding: 1.2rem 2.2rem;
    border: 2px solid var(--color-green);
    font-size: 1.3rem;
    margin: 0 auto;
  }
}

@mixin navSvg {
  svg {
    color: var(--color-slate);
    transition: var(--transition);

    &:hover,
    &:focus {
      color: var(--color-green);
      transform: translateY(-3px);
    }
  }
}
