@import "/styles/mixins";

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns:
    [sidebarL-start] 8rem [sidebarL-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end sidebarR-start] 8rem [sidebarR-end];

  @media screen and (max-width: $phone) {
    display: grid;
    grid-template-rows: 100vh repeat(5, min-content);
    grid-template-columns:
      [full-start] 3rem
      [center-start] repeat(8, 1fr)
      [center-end] 3rem
      [full-end];
  }
}
