@import "mixins";

.skills {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  height: 100%;
  margin: 8rem 4.4rem;

  display: grid;
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content) repeat(
      2,
      minmax(30rem, 1fr)
    );
  grid-row-gap: 2rem;
  align-items: center;

  span {
    @include spanCaveat;
  }

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    @include heading2;
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__div_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  &__div_end {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}

.skill {
  grid-column: 2 / -1;
  grid-row: 6 / 7;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 15.6rem 10rem;
  margin: 10rem 7rem;

  figure {
    height: 33rem;
    border: 2px solid var(--color-green);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: var(--transition);

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    position: relative;

    &::before {
      content: "<figure>";
      display: block;
      position: absolute;
      top: -20%;
      left: 0%;
      font-family: var(--font-caveat);
      color: var(--color-slate);
    }

    &::after {
      content: "</figure>";
      display: block;
      position: absolute;
      top: 110%;
      right: 0%;
      font-family: var(--font-caveat);
      color: var(--color-slate);
    }
  }

  span {
    color: var(--color-green);
  }

  &__icon {
    margin-top: 3.9rem;
    min-height: 11rem;

    &__npm {
      margin-top: 3.9rem;
      min-height: 11rem;
      padding-top: 2.5rem;
    }
  }

  &__title {
    align-self: flex-start;
    font-size: 2.4rem !important;
    font-family: var(--font-carter-one) !important;
  }

  &__square {
    &__1 {
      @include boxContent(#fc490b, 90%);
    }
    &__2 {
      @include boxContent(#2196f3, 70%);
    }
    &__3 {
      @include boxContent(#cd6699, 70%);
    }
    &__4 {
      @include boxContent(#e4ba42, 70%);
    }
    &__5 {
      @include boxContent(#00acea, 60%);
    }
    &__6 {
      @include boxContent(#cb3837, 50%);
    }
  }

  &__percent {
    margin-bottom: 3.7rem;
    text-align: center;
    font-size: 1.8rem !important;
    font-family: var(--font-carter-one) !important;
  }
}
