@import "/styles/mixins";

.about {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  margin: 8rem 4.4rem;
  height: 100%;
  align-items: center;

  display: grid;
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content) repeat(
      2,
      minmax(30rem, 1fr)
    );
  grid-row-gap: 2rem;

  &__img {
    grid-row: 1 / -1;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;
    position: relative;
    display: block;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: var(--transition);
      background-color: var(--color-navy);
      box-shadow: 0 1rem 3rem -1rem var(--color-navy);
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border: 3px solid var(--color-green);
      border-radius: 1rem;
      z-index: -1;
      position: absolute;
      top: 20px;
      left: 20px;
      transition: var(--transition);
    }

    &:hover,
    &:focus {
      &:after {
        top: 15px;
        left: 15px;
      }
    }
  }

  img {
    @include image(25rem);
  }

  @include spanCaveat;

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    @include heading2("01.");
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__p_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  p {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    margin-left: 4.4rem;

    @include paragraph;
  }

  i {
    font-style: var(--font-ubuntu);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-green);
  }

  &__p_end {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}
