@import "/styles/mixins";

.about {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  margin: 8rem 4.4rem;
  align-items: center;

  display: grid;
  grid-template-rows: repeat(11, minmax(min-content, max-content));
  grid-template-columns: 6rem repeat(3, minmax(10rem, 1fr)) 6rem;
  grid-row-gap: 2rem;

  @media screen and (max-width: $tablet) {
    margin: 8rem 4.4rem;
  }

  @media screen and (max-width: $phoneWide) {
    margin: 8rem 0rem;
  }

  @media screen and (max-width: $phone) {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;

    margin: 0;

    span {
      display: none;
    }
  }

  &__section_start {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 8rem;
  }

  &__h2_start {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  h2 {
    grid-row: 3 / 4;
    grid-column: 2 / span 2;

    @include heading2("01.");

    @media screen and (max-width: $phone) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      padding-top: 8rem;
    }
  }

  &__h2_end {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__p_start {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  i {
    font-style: var(--font-ubuntu);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-green);
  }

  &__p_end {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  &__div_start {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
  }

  &__div_end {
    grid-row: 10 / 11;
    grid-column: 2 / 3;
  }

  &__section_end {
    grid-row: 11 / 12;
    grid-column: 1 / 2;
  }
}

.paragraph {
  grid-row: 6 / 7;
  grid-column: 2 / span 3;
  letter-spacing: 2px;
  line-height: 3rem;
  padding: 2rem;

  @include paragraph;

  @media screen and (max-width: $tablet) {
    grid-column: 2 / span 3;
  }

  @media screen and (max-width: $phoneWide) {
    padding: 0;
  }

  @media screen and (max-width: $phone) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.content {
  grid-row: 9 / 10;
  grid-column: 2 / span 3;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;

  @media screen and (max-width: $phoneWide) {
    padding: 0;
  }

  @media screen and (max-width: $phone) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    letter-spacing: 2px;
    line-height: 3rem;
    @include paragraph;
    color: var(--color-lightest-slate);

    @media screen and (max-width: $phoneWide) {
      grid-column: 1 / -1;
      grid-row: 2/ 3;

      margin-bottom: 3rem;
    }
  }

  h4 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    @include heading3;
    font-size: 2.5rem;
    color: var(--color-green);

    @media screen and (max-width: $phoneWide) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    @media screen and (max-width: $phone) {
      font-size: 2.2rem;
    }
  }

  // @media screen and (max-width: $phone) {
  //   grid-column: 1 / -1;
  //   grid-row: 3 / 4;

  //   display: grid;
  //   grid-template-rows: repeat(2, minmax(min-content, max-content));
  //   grid-template-columns: 1fr;
  //   grid-row-gap: 3rem;
  // }
}

.image {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
  position: relative;
  // display: block;

  @media screen and (max-width: $phoneWide) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  &::before {
    content: "";
    display: block;
    height: 98%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
    background-color: var(--color-green);
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem -1rem var(--color-navy);
  }

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border: 3px solid var(--color-green);
    border-radius: 1rem;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: var(--transition);
  }

  &:hover,
  &:focus {
    &:after {
      top: 15px;
      left: 15px;
    }
  }

  img {
    filter: opacity(0.7);
    @include image;

    &:hover,
    &:focus {
      filter: none;
    }
  }
}
